* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: aliceblue;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 70px;
}
.countdown {
  font-size: 32px;
  letter-spacing: 4px;
}
.approach {
  font-size: 24px;
  letter-spacing: 4px;
}
.approach__text {
  display: inline;
}
.btn {
  width: 170px;
  height: 50px;
  padding: 10px 19px;
  border: none;
  border-radius: 5px;
  background-color: #000;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  transition: all 0.7s;
}
.start__btn:hover {
  background-color: green;
}
.stop__btn:hover {
  background-color: red;
}
